<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513453653994-lqu4cog93cm1p8s3m53smbl9a66i4ib5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513453653994-lqu4cog93cm1p8s3m53smbl9a66i4ib5</string>
	<key>API_KEY</key>
	<string>AIzaSyDVfUcgmRtp2W5rAtMHftM3bqppyv6-Xf8</string>
	<key>GCM_SENDER_ID</key>
	<string>513453653994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devilian.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-691a6</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-691a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513453653994:ios:98a3d340d7951373affc93</string>
</dict>
</plist>